@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-Bold.woff2') format('woff2'),
        url('RetniSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-ExtraBold.woff2') format('woff2'),
        url('RetniSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-ExtraLight.woff2') format('woff2'),
        url('RetniSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-ExtraLightItalic.woff2') format('woff2'),
        url('RetniSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-ExtraBoldItalic.woff2') format('woff2'),
        url('RetniSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-BoldItalic.woff2') format('woff2'),
        url('RetniSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-Italic.woff2') format('woff2'),
        url('RetniSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-LightItalic.woff2') format('woff2'),
        url('RetniSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-Medium.woff2') format('woff2'),
        url('RetniSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-Light.woff2') format('woff2'),
        url('RetniSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-MediumItalic.woff2') format('woff2'),
        url('RetniSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans.woff2') format('woff2'),
        url('RetniSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-Thin.woff2') format('woff2'),
        url('RetniSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retni Sans';
    src: url('RetniSans-ThinItalic.woff2') format('woff2'),
        url('RetniSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

