@tailwind base;
@tailwind components;
@tailwind utilities;

@import './loader.scss';
@import "../public/fonts/circular/stylesheet.css";
@import "../public/fonts/retnisans/stylesheet.css";
@import "../public/fonts/sfpro/stylesheet.css";

@layer base {
  html {
    font-family: CircularXX TT, system-ui, Retni Sans;
  }
}

.bg-sidebar-hover {
  background-color: rgba(180, 68, 249, 0.15);
}

button.sidebar {
  padding-left: 100px;
}

.sidebar.active {
  background-color: #B444F9 !important;
  color: #FEFEFF !important;
}

.fade-left {
  background: linear-gradient(to right, #F6F8FC, #F6F8FC00);
  border-radius: 14px;
  z-index: 2;
  width: 15%;
  height: 100%;
  left: 40px;
}

.fade-right {
  background: linear-gradient(to left, #F6F8FC, #F6F8FC00);
  border-radius: 14px;
  z-index: 2;
  width: 15%;
  height: 100%;
  right: 40px;
}

.slide {
  background: #F6F8FC;
  border-radius: 14px;
  z-index: 2;
  width: 100%;
}

.fw-60 {
  width: 60%;
}

.user-input {
  height: 50px;
  width: 50%;
  background-color: #F6F8FC;
  border: 2px solid #E9ECEF;

  &:focus {
    outline: none;
    border: 2px solid #dbdbdb;
  }
}

.user-textarea {
  height: 75px;
  width: 100%;
  background-color: #F6F8FC;
  border: 2px solid #E9ECEF;

  &:focus {
    outline: none;
    border: 2px solid #dbdbdb;
  }
}

.border-image {
  max-width: 500px;
  img {
    border-radius: 10px;
    border: 2px #B444F9 solid !important;
  }
}

.web3modal-modal-lightbox {
  z-index: 100 !important;
}

[type='checkbox']:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-offset-width: 0px;
}

.nft-image-container {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
  }

  img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
    transition: transform .5s ease;
  }

  .nft-image {
    &:hover {
      border-radius: 8px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(254, 254, 255, 0.25) 0%, rgba(254, 254, 255, 0.1) 100%);
      backdrop-filter: blur(2px);
      transform: scale(1.3);
    }
  }
}

.collection-nft-image-item {
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 254, 255, 0.25) 0%, rgba(254, 254, 255, 0.1) 100%);
  backdrop-filter: blur(2px);
  border-radius: 6px;
}

.banner-slider {
    border-radius: 10px;
}

.section-header {
    font-weight: 700;
    font-size: 18px;
    color: #6C757D;
    display: flex;
    align-items: center;
    text-align: center;

    .section-no {
        background: #6C757D;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: #ffffff;
        line-height: 18px;
        font-size: 14px;
    }

    .section-title {
        padding-left: 8px;
        padding-right: 8px;
        line-height: 23px;
    }

    &.active {
        color: #B444F9;

        .section-no {
            background: #B444F9;
        }
    }
}

.tx-status-section {
    color: #A0B3CC;
    line-height: 16px;
    font-size: 12px;

    .tx-status-row {
        display: flex;
        align-items: center;
    }

    p.tx-status-row:not(:first-child) {
        padding-top: 5px;
    }

    .tx-status-name {
        font-weight: 600;
    }

    .tx-status-value {
        margin-left: 12px;
        font-weight: 300;
    }

    .tx-hash-ellipsis {
        white-space: nowrap;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #B444F9;
        text-decoration: underline;
    }
}

.congrats-section {
    margin-top: 72px;
    color: #B444F9;

    &.failed {
        color: #A0B3CC;
    }

    .congrats-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
    }

    .congrats-description {
        margin-top: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
}

.embla {
  position: relative;
  padding: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 333.33px;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 80px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected:after {
  background: linear-gradient(103.58deg, #00F0EC 15.1%, #16FFC5 87.92%);
  opacity: 1;
}

.border-gradient-radius {
  display: inline-block;
  position: relative;
  color: white;
  z-index: 0;

  &:before {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 8px;
    background: linear-gradient(103.58deg, #00F0EC 15.1%, #16FFC5 87.92%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .rounded {
    &:before {
      border-radius: 50px !important;
    }
  }
}

.webkit-mask-composite {
  &:before {
    -webkit-mask-composite: xor;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #969696;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #969696;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #969696;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #969696;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #969696;
}

::placeholder { /* Most modern browsers support this now. */
  color:    #969696;
}
